<%- include('partials/head.ejs',{pageTitle}) %>

    <div class="container ui grid">

        <div class="sixteen wide column">
            <div class="four wide column"></div>
            <div id="deptMenu" class="four wide column">
                <form id="newDeptForm" class="ui form">
                    <div class="field">
                        <label>New Department</label>
                        <input id="newDept" type="text" name="newDept" placeholder="New Department">
                    </div>
                    <div class="field">
                        <label>New Department Budget</label>
                        <input id="newDeptBudget" type="number" name="newDeptBudget" placeholder="New Department Budget">
                    </div>
                    <button id="newDeptBtn" class="ui positive button" type="submit">Add Department</button>
                </form>
            </div>
            <div class="four wide column"></div>
        </div>

        <div class="sixteen wide column">

            <div class="four wide column"></div>
            <div id="roleMenu">
                <form id="newRoleForm" class="ui form">
                    <div class="field">
                        <label>New Role Title</label>
                        <input id="newRoleTitle" type="text" name="newRoleTitle" placeholder="New Role Title">
                    </div>
                    <div class="field">
                        <label>New Role Salary</label>
                        <input id="newRoleSalary" type="number" name="newRoleSalary" placeholder="New Role Salary">
                    </div>
                    <button id="newRoleBtn" class="ui positive button" type="submit">Add Role</button>
                </form>

            </div>

            <div class="four wide column"></div>
        </div>
    </div>
    </body>
    <!-- <script src="./assets/js/index.js"></script> -->

    </html>