<%- include('partials/head.ejs',{pageTitle}) %>

    <div class="container ui grid">
        <h1>Department Manager</h1>
        <div id="deptMenu" class="row">
            <div class="six wide column">
                <div id="deptDropdown" class="ui loading selection dropdown">
                    Choose Department <i class="dropdown icon"></i>
                    <div id="deptDrop" class="menu">
                    </div>
                </div>

            </div>
            <div class="five wide column">
                <h3><span id="deptChoice"></span></h3>
            </div>
            <div id="delDeptArea" class="five wide hidden">
                <button id="delDeptBtn" class="negative button ui">Delete Department</button>
            </div>
            <div class="sixteen wide column">
                <form id="newDeptForm" class="ui form">
                    <div class="field">
                        <label>New Department</label>
                        <input id="newDept" type="text" name="newDept" placeholder="New Department">
                    </div>
                    <div class="field">
                        <label>New Department Budget</label>
                        <input id="newDeptBudget" type="number" name="newDeptBudget" placeholder="New Department Budget">
                    </div>
                    <button id="newDeptBtn" class="ui positive button" type="submit">Add Department</button>
                </form>
            </div>

        </div>

        <div id="roleMenu" class="hidden">
            <div class="six wide column">
                <div class="field">
                    <div id="roleDropdown" class="ui selection dropdown">
                        Choose Role <i class="dropdown icon"></i>
                        <div id="roleDrop" class="menu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <h3><span id="roleChoice"></span></h3>
            </div>
            <div id="delRoleArea" class="five wide hidden">
                <button id="delRoleBtn" class="negative button ui">Delete Role</button>
            </div>
            <div class="sixteen wide column">
                <form id="newRoleForm" class="ui form">
                    <div class="field">
                        <label>New Role Title</label>
                        <input id="newRoleTitle" type="text" name="newRoleTitle" placeholder="New Role Title">
                    </div>
                    <div class="field">
                        <label>New Role Salary</label>
                        <input id="newRoleSalary" type="number" name="newRoleSalary" placeholder="New Role Salary">
                    </div>
                    <button id="newRoleBtn" class="ui positive button" type="submit">Add Role</button>
                </form>

            </div>
        </div>
    </div>
    </body>
    <script src="./assets/js/api.js"></script>
    <script src="./assets/js/dropdowns.js"></script>
    <script src="./assets/js/department.js"></script>

    </html>