<%- include('partials/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>
        <h1>HI</h1>
    </body>
    <script src="./assets/index.js"></script>

    </html>