<%- include('partials/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>

        <div class='ui container'>
            <h1>Employee Manager</h1>
            <div class="ui grid">
                <div class="five wide column">
                    <h3>Search:</h3>
                    <form id="searchForm" class="ui form">
                        <div class="field">
                            <label>First Name</label>
                            <input id="firstName" type="text" name="firstName" placeholder="First Name">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input id="lastName" type="text" name="lastName" placeholder="Last Name">
                        </div>
                        <button class="ui primary button" type="submit">Search</button>
                    </form>
                </div>
                <div class="five wide column">
                    <div id="deptDropdown" class="ui loading selection dropdown">
                        Choose Department <i class="dropdown icon"></i>
                        <div id="deptDrop" class="menu">
                        </div>
                    </div>
                    <div class="field">
                        <span id="deptChoice"></span>
                    </div>
                    <button id="addEmp" class="ui positive button">Add Employee</button>

                    <button id="delDeptBtn" class="negative button hidden">Delete Department</button>
                </div>
                <div class="five wide column">
                    <div id="deptMenu">
                        <form id="newDeptForm" class="ui form">
                            <div class="field">
                                <label>New Department</label>
                                <input id="newDept" type="text" name="newDept" placeholder="New Department">
                            </div>
                            <div class="field">
                                <label>New Department Budget</label>
                                <input id="newDeptBudget" type="number" name="newDeptBudget" placeholder="New Department Budget">
                            </div>
                            <button id="newDeptBtn" class="ui positive button" type="submit">Add Department</button>
                        </form>
                    </div>
                    <div id="roleMenu" class="hidden">
                        <form id="newRoleForm" class="ui form">
                            <div class="field">
                                <label>New Role Title</label>
                                <input id="newRoleTitle" type="text" name="newRoleTitle" placeholder="New Role Title">
                            </div>
                            <div class="field">
                                <label>New Role Salary</label>
                                <input id="newRoleSalary" type="number" name="newRoleSalary" placeholder="New Role Salary">
                            </div>
                            <button id="newRoleBtn" class="ui positive button" type="submit">Add Role</button>
                        </form>

                    </div>
                </div>
            </div>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Salary</th>
                        <th>Department</th>
                        <th>Manager</th>
                    </tr>
                </thead>
                <tbody id='empTable'>
                </tbody>
            </table>

            <div id="info" class="ui grid">
                <div id="graph" class="tenwide column"></div>
                <div id="stats" class="ten wide column"></div>
            </div>

        </div>

        <div id="empModal" class="ui modal">
            <i class="close icon"></i>
            <div id="modalTitle" class="header">
                Add Employee
            </div>
            <form id="newEmpForm" class="ui form">
                <div class="field">
                    <label>First Name</label>
                    <input id="newFirstName" type="text" name="newFirstName" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input id="newLastName" type="text" name="newlastName" placeholder="Last Name">
                </div>
                <div class="field">
                    <div id="roleDropdown" class="ui selection dropdown">
                        Choose Role <i class="dropdown icon"></i>
                        <div id="roleDrop" class="menu">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <span id="roleChoice"></span>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="isManager">
                        <label>Manager</label>
                    </div>
                </div>
                <div class="field">
                    <div id="managerDropdown" class="ui selection dropdown">
                        Choose Manager <i class="dropdown icon"></i>
                        <div id="managerDrop" class="menu">
                            <div class="item">Yo Momma</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <span id="managerChoice"></span>
                </div>
                <button id="delButton" class="ui button hidden">Delete</button>
                <button id="updateButton" class="ui button hidden" type="submit">Update</button>
                <button id="addButton" class="ui button" type="submit">Add</button>
            </form>
            <div id="newEmpErr" class="ui message hidden">
                <div class="header">
                    Error
                </div>
                <p>Full name and role required</p>
            </div>
        </div>

        <div id="delEmpModal" class="ui basic modal">
            <div class="ui icon header">
                <i class="archive icon"></i> Delete Employee
            </div>
            <div class="content">
                <p>Are you sure you would like to delete the employee?</p>
            </div>
            <div class="actions">
                <div class="ui green basic cancel inverted button">
                    No
                </div>
                <div id="confirmDelEmp" class="ui red ok inverted button">
                    <i class="remove icon"></i> Yes
                </div>
            </div>
        </div>
    </body>
    <script src="./assets/index.js"></script>

    </html>