<%- include('partials/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>

        <div class='ui container'>
            <h1>Employee Manager</h1>
            <div class="ui grid">
                <div class="three wide column">Department</div>
                <div class="three wide column">Role</div>
                <div class="three wide column">Search</div>
            </div>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Salary</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody id='empTable'>
                </tbody>
            </table>
        </div>
    </body>
    <script src="./assets/index.js"></script>

    </html>