<%- include('partials/head.ejs', {pageTitle}) %>

    <div class="container ui grid">
        <div class="sixteen wide column">
            <h1>Stats</h1>
        </div>
        <div class="eight wide column">
            <div id="deptDropdown" class="ui loading selection dropdown">
                Choose Department <i class="dropdown icon"></i>
                <div id="deptDrop" class="menu">
                </div>
            </div>

            <h3><span id="deptChoice"></span></h3>
        </div>

        <div id="info">
            <div id="graph" class="sixteen wide column"></div>
            <div id="stats" class="ten wide column"></div>
        </div>

    </div>
    </body>
    <script src="./assets/js/api.js"></script>
    <script src="./assets/js/dropdowns.js"></script>
    <script src="./assets/js/stats.js"></script>

    </html>