h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.modal {
    padding: 25px;
}

#newEmpForm {
    margin-top: 15px;
}

button {
    padding: 15px;
}

#addEmp {
    margin: 15px;
}

#roleChoice,
#deptChoice,
#managerChoice {
    padding: 10px;
    margin: 10px;
}

.hidden {
    display: none;
}

.emp {
    cursor: pointer;
}

#info {
    height: 500px;
}

#graph {
    height: 600px;
    width: auto;
}